---
layout: default
---

<main id="about" class="section" aria-labelledby="about-title">
	<div class="container">
		<h1 id="about-title" class="section-title">About</h1>
		<p class="lead">Ash Bhimasani is a Philadelphia/Atlanta based multimedia artist and maker</p>
		<figure class="hero">
			<div class="media media-4-3">
				<img src="assets/images/coverphoto.jpg" alt="Ash's picture">
			</div>
			<figcaption>🍪  😘  🍪</figcaption>
		</figure>
		<p>Ash Bhimasani is currently studying <a href="http://www.wsj.com/articles/global-colleges-ranked-by-subject-1475029803">Computer Science</a> at Georgia Tech as a First-Year student of the Class of 2020</p>
	</div>
</main>

<section id="projects" class="section" aria-labelledby="projects-title">
	<div class="container">
		<h1 id="projects-title" class="section-title">Projects</h1>

		<a class="post post-flex" href="/pages/projects/cycle3d">
			<figure class="post-image">
				<img src="assets/images/cycle.svg" alt="Cycle">
			</figure>
			<div class="post-inner">
				<h2 class="post-title">Cycle3D <span><div style="float:right;display:inline-flex"><p class="post-date">2015 ~ 2016</p></div></span></h2>
				<p class="post-summary">Cycle is an open source 3D printing project focused on creating a more environmentally conscious way to print</p>
			</div>
		</a>

	</div>
</section>

<section id="portfolio" class="section" aria-labelledby="portfolio-title">
	<div class="container">
		<h1 id="portfolio-title" class="section-title">Portfolio</h1>

		<a class="post post-flex" href="/pages/portfolio/photography">
			<figure class="post-image">
				<img src="assets/images/camera2.svg" alt="Photography">
			</figure>
			<div class="post-inner">
				<h2 class="post-title">Photography</h2>
				<p class="post-summary">A collection of some of my pictures</p>
			</div>
		</a>
		<!--
		<a class="post post-flex" href="/pages/portfolio/photography">
			<figure class="post-image">
				<img src="assets/images/design2.svg" alt="Design">
			</figure>
			<div class="post-inner">
				<h2 class="post-title">Design</h2>
				<p class="post-summary">A showcase of some of my design work over the last year</p>
			</div>
		</a>
		-->
	</div>
</section>

<section id="work" class="section" aria-labelledby="work-title">
	<div class="container">
		<h1 id="work-title" class="section-title">Work</h1>

		<a class="post" href="/pages/work/graph-house">
			<h2 class="post-title">Creative Director @Graph House 💎 <span><div style="float:right;display:inline-flex"><p class="post-date">October 2016</p></div></span></h2>
			<p class="post-summary">Currently working to provide affordable creative services and marketing solutions to clients in the Atlanta area</p>
		</a>

		<a class="post" href="/pages/work/excite-center">
			<h2 class="post-title">Internship @Drexel ExCITe Center 🐉 <span><div style="float:right;display:inline-flex"><p class="post-date">August 2015</p></div></span></h2>
			<p class="post-summary">Worked on a variety of multidisciplinary research projects under Dr. Youngmoo E. Kim as part of the Music Entertainment Technology (MET) Lab</p>
		</a>

		<a class="post" href="/pages/work/lockheed-martin">
			<h2 class="post-title">Internship @Lockheed Martin Space Systems 🚀 <span><div style="float:right;display:inline-flex"><p class="post-date">July 2015</p></div></span></h2>
			<p class="post-summary">Shadowed Gregory J. Staszowski on the Air Force Strategic Program as well as a number of company projects</p>
		</a>

	</div>
</section>

<section id="blog" class="section" aria-labelledby="blog-title">
	<div class="container">
		<h1 id="blog-title" class="section-title">Blog</h1>

		{% for post in site.posts %}
		  {% include post.html %}
		{% endfor %}

	</div>
</section>
