---
---

$serif: 'Merriweather', 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
$sans-serif: 'Merriweather Sans', 'Open Sans', 'Helvetica', Arial, Verdana;
$mono: 'PT Mono', 'Lucida Console', Monaco, monospace;

$break-medium: 100%;
$break-small: 100%;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

* {
  -webkit-transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -ms-transition: 0.2s ease all;
  -o-transition: 0.2s ease all;
  transition: 0.2s ease all;
}

html {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;

  &:active,
  &:hover {
    outline: 0;
  }
}

main {
  display: block;
  padding: 30px 0;
}

.terminal {
  font-family: $mono;
  font-weight: 300;
  display: none;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  border-radius: 5px;
  background-color: #E1E1E1;
  font-size: 1.0em;

  a {
    color: #E1E1E1;
    text-decoration: none;
  }

  @media screen and (max-width: $break-medium) {
    font-size: 0.85em;
  }

  @media screen and (max-width: $break-small) {
    font-size: 0.8em;
  }
}

.taskbar {
  margin: 0;
  padding: 4px 10px;

  a {
    border-radius: 50%;
    width: 12px;
    height: 12px;
    display: inline-block;

    &.close {
      background: radial-gradient(circle, #ff6056, #ff6059);
    }

    &.minimize {
      background: radial-gradient(circle, #fec443, #ffbe42);
    }

    &.maximize {
      background: radial-gradient(circle, #00cc53, #00d958);
    }

    &.title:before {
      font: inherit;
      color: black;
      padding-top: 5px;
      margin-left: 200px;
      content: "#!/bin/bash/resume.sh";
    }

    @media screen and (max-width: $break-medium) {
      font-size: default;
    }

    @media screen and (max-width: $break-small) {
      font-size: default;
    }
  }
}

.code {
  overflow: scroll;
  max-height: 550px;
  padding: 0px 30px;
  white-space: nowrap;
  color: ghostwhite;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #2B2F3A;
  font-size: 1.4em;

  .block-terminal {
    margin: 30px 0;
  }

  .input {
    margin: 5px auto;

    &:before {
      content: '> ';
    }
  }

  .result {
    color: #6F7783;
  }

  a {
    text-decoration: none;
    color: inherit;

    &:hover {
      text-decoration: underline;
    }
  }

  pre,
  code {
    font: inherit;
    margin: 0 auto;
    padding: 0;
    color: #6F7783;
  }

  pre a {
    color: inherit;
  }

  .json {
    .key {
      color: #B9C0CB;
    }

    .value {
      color: #E88388;
    }

    .string {
      color: #A7CC8C;
    }

    .boolean {
      color: #D291E4;
    }

    .null {
      color: #6F7783;
    }
  }

  @media screen and (max-width: $break-medium) {
    padding: 0 25px;
  }

  @media screen and (max-width: $break-small) {
    padding: 0 20px;
  }
}

.pulse {
  -webkit-animation: pulse 0.5s;
  animation: pulse 0.5s;
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}
