<footer class="footer" role="contentinfo">
	<div class="container">
		<nav class="footer-nav">
			<a href="https://www.facebook.com/Ash.Bhimasani">Facebook</a>
			&middot;
			<a href="mailto:16abhimasani@gmail.com">Email</a>
			&middot;
			<a href="https://www.instagram.com/ash_bhimasani/">Instagram</a>
			&middot;
			<a href="https://github.com/16abhimasani">GitHub</a>
		</nav>
		<p class="footer-copyright">&copy; 2016. Website by Ash Bhimasani made in 🇺🇸</p>
	</div>

	<!-- Load jQuery -->
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

	<!-- Load plugins -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js"></script>
	<script type="text/javascript" src="./fluidbox/js/jquery.fluidbox.min.js"></script>

	<!-- JS Functions -->
	<script>
	    $(function () {

	        // You can use any kind of selectors for jQuery Fluidbox
	        $("a[data-fluidbox]").fluidbox();

		});
	</script>

</footer>
