<footer class="footer" role="contentinfo">
	<div class="container">
		<nav class="footer-nav">
			<a href="mailto:16abhimasani@gmail.com">Email</a>
			&middot;
			<a href="https://www.linkedin.com/in/ash-bhimasani-b98757139/">LinkedIn</a>
			&middot;
			<a href="https://www.facebook.com/Ash.Bhimasani">Facebook</a>
			&middot;
			<a href="https://www.instagram.com/ash_bhimasani/">Instagram</a>
			&middot;
			<a href="https://www.behance.net/16abhimasa5794">Behance</a>
			&middot;
			<a href="https://github.com/16abhimasani">GitHub</a>
		</nav>
		<p class="footer-copyright">&copy; 2016. Website by Ash Bhimasani made in 🇺🇸</p>
	</div>

</footer>
