<header class="header" role="banner">
	<div class="container">
		<nav class="header-nav">
			<a href="{{ site.baseurl }}/projects">Projects</a>
			<a class="logo" href="{{ site.baseurl }}/">
				<img src="{{ "/assets/images/avatar.svg" | prepend: site.baseurl }}" alt="Ash Bhimasani's Logo">
			</a>
			<a href="{{ site.baseurl }}/articles">Portfolio</a>
		</nav>
	</div>
	<div class="container">
		<nav class="header-nav">
			<a href="{{ site.baseurl }}/">
				<img class="logo-name" src="{{ "/assets/images/name.svg" | prepend: site.baseurl }}" alt="Ash Bhimasani's Logo">
			</a>
		</nav>
	</div>
</header>
