<header class="header" role="banner">
	<div class="container">
		<nav class="header-nav">
			<a href="/pages/about">About Me</a>
			<a class="logo" href="{{ site.baseurl }}/">
				<img src="{{ "/assets/images/avatar.svg" | prepend: site.baseurl }}" alt="Ash Bhimasani's Logo">
			</a>
			<a href="/pages/resume">Résumé</a>
		</nav>
	</div>
	<div class="container">
		<nav class="header-nav">
			<a href="{{ site.baseurl }}/">
				<img src="{{ "/assets/images/name.svg" | prepend: site.baseurl }}" alt="Ash Bhimasani's Name Logo">
			</a>
		</nav>
	</div>
</header>
