---
layout: default
categories:
  - name: bio
  - name: education
  - name: projects
  - name: work
    slug: work_experience
  - name: download
  - name: links
---
<!DOCTYPE html>
<html lang="en">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Merriweather:300,300italic,400,400italic,700|Merriweather+Sans:300,400|PT+Mono">
	<link rel="stylesheet" type="text/css" href="{{ './assets/styles/resume.css' | prepend: site.baseurl }}">
  <body>
		<div class="container">
			<main>
				<div class="terminal pulse">
					<div class="taskbar">
						<a href="javascript:;" class="close"></a>
						<a href="javascript:;" class="minimize"></a>
						<a href="javascript:;" class="maximize"></a>
						<div style="display: inline-flex;margin-left: 30%"><a href="./assets/docs/resume.pdf" class="title"></a></div>
					</div>
					<div class="code">
						{% for category in page.categories %}
						<div class="block-terminal" id="{{ category.name }}-block">
							<div class="input">resume.{% if category.slug %}{{ category.slug }}{% else %}{{ category.name }}{% endif %}</div>
							<div class="result">
								<pre class="json" style="border:none;background:#2B2F3A"><code id="{{ category.name }}-json"></code></pre>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
			</main>
            <!-- <p class="post-date">Inspired by <a href="http://kshvmdn.com/">Kashav Madan</a></p> -->
		</div>
		<script type="text/javascript" src="./assets/scripts/resume.js"></script>
	</body>
</html>
