---
layout: default
---
<!DOCTYPE html>
<html lang="en">
  <body>
		<div class="container">
			<main>
				<div class="terminal pulse">
					<div class="taskbar">
						<a class="close"></a>
						<a class="minimize"></a>
						<a class="maximize"></a>
					</div>
					<div class="code">
						{% for category in page.categories %}
						<div class="block" id="{{ category.name }}-block">
							<div class="input">kshvmdn.{% if category.slug %}{{ category.slug }}{% else %}{{ category.name }}{% endif %}</div>
							<div class="result">
								<pre class="json"><code id="{{ category.name }}-json"></code></pre>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
			</main>
		</div>
	</body>
</html>
