---
layout: default
categories:
  - name: bio
  - name: education
  - name: projects
  - name: work
    slug: work_experience
  - name: resume
  - name: links
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Merriweather:300,300italic,400,400italic,700|Merriweather+Sans:300,400|PT+Mono">
		<link rel="stylesheet" type="text/css" href="{{ './assets/styles/resume.css' | prepend: site.baseurl }}">
	</head>
  <body style="background:#2B2F3A">
		<div class="container">
			<main>
				<div class="terminal pulse">
					<div class="taskbar">
						<a href="javascript:;" class="close"></a>
						<a href="javascript:;" class="minimize"></a>
						<a href="javascript:;" class="maximize"></a>
					</div>
					<div class="code">
						{% for category in page.categories %}
						<div class="block" id="{{ category.name }}-block">
							<div class="input">resume.{% if category.slug %}{{ category.slug }}{% else %}{{ category.name }}{% endif %}</div>
							<div class="result">
								<pre class="json"><code id="{{ category.name }}-json"></code></pre>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
			</main>
		</div>
		<script type="text/javascript" src="./assets/scripts/resume.js"></script>
	</body>
</html>
